# Module 4 Project
# Task 2
Author: [Adrian Vega](https://github.com/adriacv17) Respository: [data-04-notebooks](https://github.com/adriacv17/datafun-04-notebooks)

## Task 1. Create DataFrame

In [3]:
# Importing libraries

import pandas as pd

In [4]:
#  Follow the instructions in 7.14.2 to import pandas as pd and create a pandas DataFrame from 
# a dictionary (a set of key-value pairs) holding multiple exam scores for each key/student.
#  In this example, we have 5 students, each with 3 exam scores, but the scores aren't labeled. 

grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
               'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
               'Bob': [83, 65, 85]}

grades = pd.DataFrame(grades_dict)

grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

## Task 2. Custom Index