# Project 4 Optional Task 5 (Bonus)
Author: [Adrian Vega](https://github.com/adriacv17) Respository: [data-04-notebooks](https://github.com/adriacv17/datafun-04-notebooks) <br> 09/15/2023

## Import Libraries

In [1]:
import pandas as pd # import pandas libraries

## Creating a DataFrame

In [2]:
# creating contacts data frame

contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
            ['Sue Brown', 'demo2@deitel.com', '5555551234']]

contactsdf = pd.DataFrame(contacts, columns = ['Name', 'Email','Phone'])

contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

## Import Re Module and Use Re Module

In [3]:
# import and use re module to replace patterns in string
# Getting formated phone numbers

import re

def get_formatted_phone(value):                 #get_formatted_phone function maps 10 consecutive digits into format ###-###-####
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value      #get tuple using result.groups to concatenate with '-'

## Using Map Method

In [5]:
# use map method to return new series 

formatted_phone = contactsdf['Phone'].map(get_formatted_phone)  # new series given to formatted_phone from function using dataframe

formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

## Updating DataFrame

In [6]:
# Update original DataFrame by assigning new series to the 'Phone' Column

contactsdf['Phone'] = formatted_phone

contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234